# Copyright (c) 2026 Joseph Verdicchio and EvidenceOS Contributors
# SPDX-License-Identifier: Apache-2.0

services:
  evidenceos:
    build: .
    ports:
      - "50051:50051"
    volumes:
      - ./data:/data
    command: ["--listen", "0.0.0.0:50051", "--data-dir", "/data"]
